#defaultPageTemplate{
      background: url('images/base-noise.jpg');
}
#defaultPageTemplate .hero-unit
{
    border-color: #aaa;
}

/*b63954*/
#defaultPageTemplate  .navbar-inner{
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-image: none;
    background: transparent;
    background-color: #b63954;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 2px;
    filter:none;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #89273c;
}
#defaultPageTemplate .nav > a:link{ color: #fff;}
#defaultPageTemplate .nav .active > a, 
#defaultPageTemplate .nav .active > a:hover {
    background-color: #89273c;
    color: #fff;
}
#defaultPageTemplate .navbar {
    color: #fff;
}

#defaultPageTemplate .nav li a:hover {
    color: #fff;
    background: #89273c;
    text-decoration: none;

}
#defaultPageTemplate .btn-group .dropdown-toggle{ line-height: 20px; height: 20px;}
#userInfoNav{ min-width: 200px; line-height: 30px;}
.brand{padding: 0px;}

/*Dependencia plugin css bootstrap */
.icon-reded,
.nav > .active > a > [class^="icon-"],
.nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("images/glyphicons-halflings-reded.png");
}

.icon-green,
.nav > .active > a > [class^="icon-"],
.nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("../../../images/glyphicons-halflings-green.png");
  }