body{
	
	font-family: verdana,sans-serif;
	font-size:12px;
	height:99%;
	
}
body , html{ height:99%; }


h4{
	padding-left:60px;
	color:#4a4e4b;
	font-size:18px;
	margin-top:15px;
	margin-bottom:0px;
}


#container{
	width:630px;
 	height:300px;
 	position: relative;
 	
 	
 	top:50%;
 	padding:30px 20px 20px 30px;
    margin-left:auto;
    margin-right:auto;
   
 	margin-top:-170px;    
	background:url('../images/bg_1_form_login.gif') no-repeat 18px 20px;
}


/****************************************************************************************************************
 *Estilo para formulario de login de user 
 *
 *************************************************************************************************************/
 .container_12{
 	width:630px;
 }
 .logo_sitema{
 	
  	width:165px;
 	height:70px;
 	margin-bottom:2px;
 	margin-left:10px;
 	margin-top:0px;
 }
 
 .box_formulario_login_user{
 	width:620px;
 	height:204px;
 	background:url('../images/bg_form_login.gif') no-repeat left;
 	margin-left:2px;
 
 }
 .box_formulario_login_user label{
 	
 	font-size:120%;
 	margin-left:5px;
 	margin-bottom:5px;
 	font-weight:700;
 }
 .box_formulario_login_user input[type="text"],
 .box_formulario_login_user input[type="password"]
 {
 	border:1px solid #21BAC8;
 	padding:5px 10px;
 	font-size:120%;
 	font-weight:600;
 	outline: none;
 }
 .box_login{
 	float:left;
 	display:inline;
 	padding-bottom:10px;
 }
.user_form_login input[type="text"]{
     width:240px;
     margin-left:2px;
     font-size:150%;
     color:#666;
	 background:transparent;
	 margin-top:7px;
	 border:none;
} 
.user_form_password input[type="password"]{
     width:230px;
     margin-left:6px;
     font-size:150%;
     color:#666;
	 background:transparent;
	 margin-top:7px;
	 border:none;
} 

.user_form_login , .user_form_password{
	width:275px;
	background:transparent url('../images/bg_input_form_login.gif') no-repeat 0px 20px;
}
.user_form_bt input[type="submit"]{
	border:none;
	background: transparent;
	width:60px;
	height:53px;
	cursor:pointer; 
}
.user_form_bt{
	background:transparent url('../images/bt_logar.gif') no-repeat 0px 0px;
	width:60px;
	height:53px;
	position:absolute;
	top:13px;
	right:7px;
}
.box_inputs_formulario_login{
	width:97%;
	height:80px;
	position:relative;
	top:40px;
	margin-left:10px;
	
}

.login_titulo_sistema{
 	position:relative;
 	top:10px;
 	left:10px;
 	font-size:120%;
 	font-weight:600;
 }
